<h2>Choose a song</h2>
<h2>Recently Played</h2>
{% for recent in recent_tracks%}
        {% for key,value in recent.items%}
            {% if key == 'name' %}
                Name:{{value}}
            {% endif %}
            {% if key == 'artist'%}
                By:{{value}}
            {% endif %}
            {% if key == 'image'%}
                <img src = "{{value}}">
            {% endif %}
            {% if key == 'link' %}
            <form id = "chooseSong" action="" method="POST">
            {% csrf_token %}
            <!-- <input type="text" class="form-control" placeholder="This song was awesome" name="link" value = "{{value}}" required> -->
            <button name = "link" value = "{{value}}"type="submit">Share</button>
            </form>
            {% endif %}
        <br>
        {% endfor %}
{% endfor %}

